.btn {
  font-size: 14px;
  text-decoration: none;
  padding: 7px 12px;
  font-weight: 500;
  background: none;
  border: 2px solid #00d548;
  color: #00d548;
 }

 .secondary{
  font-size: 14px;
  text-decoration: none;
  padding: 7px 12px;
  font-weight: 500;
  background: #00d548;
  color: #fff;
  border:none;
 }

 @media screen and (max-width:767px){
   .secondary{
     width:90%;
     font-size:1.3rem;
     font-weight: 400;
   }
   .btn{
     width:100%;
     margin-top:1rem;
     font-size:1.2rem;
   }
 }