.wrapper {
  width: 100%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
 }
 .form {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
 }

 h2 {
  color: #1e58ff;
}

@media screen and (max-width:767px){
  .formOptions{
    margin:1rem auto;
  }
  .wrapper{
    width:90%;
  }
}