.navItem{
  list-style: none;
  display: inline-block;
  margin-right: 60px;
}
.navItemLink{
  text-decoration: none;
    color:#00d548;
}

.navItemLinkActive{
  font-weight: bold;
}
.wrapper{
  margin-left:8rem
}