.img{
  width:150px;
  height:150px;
  border-radius:50%;
  background: url('../../assets/img/miner.png');
  margin-bottom:0.6rem;
}

.imgNone{
  margin:auto;
  width:150px;
  height:150px;
  border-radius:50%;
  background: url('../../assets/img/miner.png');
  background-size: 100%;
  background-position:center;
}

.item{
  width:40vw;
  margin:2rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border:1px solid #00d548;
  border-radius:20px;
  padding:15px;
  animation: itemAnim 0.5s ease-in 0.1s both;
}

.p{
  font-size:1.1rem;
  text-align: center;
  margin-top:.6rem;
}
.p_prof{
  font-size:1rem;
  color:#00d548;
}

@media screen and (max-width:767px){
  .item{
    width:90%;
  }
}

@keyframes itemAnim{
  0%{
    opacity:0;
    transform: translateY(20px)
  }
  100%{
    opacity:1;
    transform: translateY(0px)
  }
}